{% extends "template/base.html" %}
{% block title %}Media Library{% endblock %}
{% block content %}
            <div class="page-header">
                <h3>CS496</h3>
                <h4>Dennis Tat</h4>
            </div>
            <div>
                <a href="/appIndex" class="btn btn-primary" target="_blank">Mobile Front-end</a>
                <a href="https://cs496-1373.appspot.com/_ah/api/explorer" class="btn btn-primary" target="_blank">Explore the API</a>
                
            </div>
            <br>
            <div>
                <p>
                    <strong>This app validates your Google ID.</strong>
                </p>
                <p> 
                    <strong>To add data, click Add. To edit data, click Edit. To delete data, select the rows to delete, then click Delete.</strong>
                </p>
                <p>
                    <strong>This app exercises eventual consistency, so a page refresh may be needed to display the most current data.</strong>
                </p>
                
            </div>
            <form id="item-list" class="form-horizontal" role="form" method="post" action="/">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Media Library
                    </div>
                    <div class="panel-body">
                        <a href="/create" class="btn btn-lg btn-success">Add Item</a>
                        
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th><input type="submit" class="btn btn-xs btn-danger" name="delete" value="Delete"></th>
                                    <th class="col-md-2">Title</th>
                                    <th class="col-md-2">Type</th>
                                    <th class="col-md-2">Release Date</th>
                                    <th class="col-md-2">Location</th>
                                    <th class="col-md-2">Available</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td><input type="checkbox" name="item_id" value="{{item.key.id()}}"></td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.typeof }}</td>
                                    <td>{{ item.release_date }}</td>
                                    <td>{{ item.item_location }}</td>
                                    <td>{% if item.available == True %}Yes{% else %}No{% endif %}</td>
                                    <!-- get numeric ID of entity key -->
                                    <td><a href="/edit?id={{item.key.id()}}" class="btn btn-primary">Edit</a></td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">No record Found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            <br>

            <form id="location-list" class="form-horizontal" role="form" method="post" action="/">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Library Locations
                    </div>
                    <div class="panel-body">
                        <a href="/createLoc" class="btn btn-lg btn-success">Add Location</a>
                        
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th><input type="submit" class="btn btn-xs btn-danger" name="delete" value="Delete"></th>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for location in locations %}
                                <tr>
                                    <td><input type="checkbox" name="location_id" value="{{location.key.id()}}"></td>
                                    <td>{{ location.name }}</td>
                                    <td>{{ location.phone_number }}</td>
                                    <!-- get numeric ID of entity key -->
                                    <td><a href="/editLoc?id={{location.key.id()}}" class="btn btn-primary">Edit</a></td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">No record Found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>


            
{% endblock %}